@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:ital@1&display=swap');
:root{
     --main-font: 'Montserrat', sans-serif;
}
* {
    margin:0;
    padding:0;
    color: #212b36;
    font-family: var(--main-font);
}
* h1{
    color: rgb(107, 92, 92);
}
.row{
    display: flex;
    
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}
li{
 list-style: none;
}
* h1{
    color: black;
}
.title_h1 {
    text-align: center;
    margin: 20px 0 30px;
    position: relative;
}
/*==============================================================header============================================*/
.header-content {
    justify-content: space-between;
    align-items: center;
}
.header-content-logo{
    width: 10%;
}
.header-content-logo img{
    width: 70px;
}
.header-content-nav {
   width: 50%;

}
a{
    text-decoration: none;
}
ul{
 list-style: none;
}
.header-content-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content-nav ul li{
    margin-right: 12px;
}
.header-content-nav ul li:hover a {
  color: rgb(241, 118, 97);
}
.header-content-nav ul li a{
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3 ease;
}
.header-content-search {
    width: 30%;
}
.header-content-search input {
    border: none;
    outline: none;
    border-bottom: 1px solid #c2bdbd;
}
.header-content-search  i{
    cursor: pointer;
}
.header-content-icon {
    width: 15%;
}
.header-content-icon img{
    width: 25px;
    margin-left: 6px;
    cursor: pointer;
}
header{
    position: fixed;
    height: 80px;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
}
.slider{
    margin-top: 80px;
}
/*----------------------------------header2---------------------------------------*/
:root {
    --main-font: 'Montserrat', sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;

}
.top.active {
    background-color: rgba(255, 255, 255, 1);
}
.top:hover {
    background-color: rgba(255, 255, 255, 1);
}

.top-logo {
    flex: 1;
}
.top-menu-items {
    flex: 3;
}
.top-menu-items >ul{
    height: 100%;
    display: flex;
}
.top-menu-items > ul > li {
    font-family: var( --main-font);
    padding: 0 12px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.top-menu-items ul li::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: -50%;
}
.top-menu-items ul li:nth-child(4) {
    color: red;
}
.top-menu-items ul li:nth-child(5) {
    color: red;
}
.top-menu-item {
    position: absolute;
    width: 200px;
    top: 100px;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #ffff;
    height: auto!important;
    padding: 6px;
    border: 1px solid #dddddd;

    
}
.top-menu-items ul li:hover .top-menu-item {
    display: block;
    top: 60px;
    opacity: 1;
}
.top-menu-item li {
   line-height: 25px;
   display: flex;
   justify-content: left!important;
  
}
.top-menu-item li a {
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    color: #333;
    font-family: var( --main-font);
}


/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}
.top-menu-icons ul {
    display: flex;
    height: 100%;
}
.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}
.top-menu-icons ul li {
    position: relative;
    
}
.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}
.top-menu-icons ul li:last-child::before {
    display: none;
}
.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
    
}
.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}
.top-menu-icons ul i {
    cursor: pointer;
}
/* ..................Slider....................... */
.sliders{
    padding-bottom: 20px;
    overflow: hidden;
    width: 100vw;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: all 0.3s ease;
  
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container {
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    

}
.dot {
    width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.active {
    background-color: #333333;
}
/* -------------footer */
footer{
    background-color: #e4e4e4;
    margin-top: 100px;
    padding: 50px 0 10px;
}
footer p{
    color: #333;
}
.footer-content{
justify-content: space-between;
}
.footer-content h3{
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.footer-content p{
    margin-bottom: 6px;
}
.footer-content-social{
    text-align: center;
    padding: 50px 100px 20px;
}
.footer-content-social i{
    font-size: 20px;
    margin-right: 12xp;
    cursor: pointer;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright img{
    width: 150px;
  
}
.footer-img img{
    width: 140px;
}
.footer-img{
    text-align: center;
}

/* ---------------------Cartegory------------------------------------- */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left {
    width: 20%;
}
.cartegory-right {
    width: 80%;
}
.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;

}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item img{
    width: 100%;
}
.cartegory-right-content-item p {
    font-size: 12px;
}
.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-left ul li {
    padding: 12px 0;
}
.cartegory-left ul li>a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
    padding-left: 10px;
}
.cartegory-left-li ul{
    display: none;
}
.cartegory-left-li.block ul {
    display: block;
}
.cartegory-left ul li ul li a {
    color: #333333;
    font-size: 12px;
}
/* -----------PRODUCT--------------------------------------- */
.product {
    padding: 100px 0;
}
.product-top {
    margin-bottom: 30px;
}
.product-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left {
    width: 50%;
}

.product-content-left-big-img{
    width: 80%;
   padding-right: 20px;
}
.product-content-left-big-img img {
    width: 100%;
    
}
.product-content-left-small-img {
    width: 20%;
}
.product-content-left-small-img img {
    width: 100%;
    cursor: pointer;
}
.product-content-right {
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1 {
    font-family: var(--main-text-font);
    font-size: 16px;
}
.product-content-right-product-name p {
    color: #cccccc;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.product-content-right-product-color-img {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;

}
.quantity {
    display: flex;
    margin-bottom: 20px;
}
.quantity input {
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover {
    background-color: rgba(75, 63, 63, .5);
    color: #ffff;
}
.product-content-right-product-button button:last-child:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  rgb(241, 118, 97);;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-icon {
    display: flex;
}
.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-QR {
    margin: 20px 0;
}
.product-content-right-bottom {
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}
.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p {
    font-family: var(--main-text-font);
    font-size: 12px;
    padding-left: 100px;
}
.product-content-right-bottom-content {
    padding-top: 30px;
}
.product-content-right-bottom-content  {
    font-family: var(--main-text-font);
    font-size: 12px;
 
}
.product-content-right-bottom-content-baoquan {
    display: none;
}
.activeB {
    display: none;
}
/* --------------Product-Relate-------------------------------------- */
.product-related {
    margin-bottom: 50px;
}
.product-related-title {
    margin: 20px 0;
}
.product-related-title p {
    font-family: var(--main-text-font);
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    
}
.product-related-item {
    width: 20%;
    text-align: center;
    padding: 0 6px;
   
}
.product-related-item img {
    width: 100%;
}
.product-related-item h1 {
    font-family: var(--main-text-font);
    font-size: 11px;
    color: #333333;
    margin-top: 6px;
}
.product-related-item p {
    font-size: 15px;
   
}                      



.new {
    height: 200px;
}
.newsletter{
    background-image: url(../img/pexels-photo-5864245.jpeg);
    background-size: cover;
    background-position:center;
    height: 300px;
    position: relative;
}
.newsletter_filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#33333370 ;
}
.action_call{
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    font-family: champagne;
    letter-spacing: 2px;
}
.action_call h2{
    margin: 20px 0px;
    color: white;
}
.action_call input{
    width: 300px;
    padding: 10px;
    background-color:#eee ;
    border: none;
    border-radius: 5px;
    z-index: l;
}
.action_call button{
    width: 130px;
    padding: 10px;
    border:2px solid #fff ;
    border-radius: 5px;
    background-color:transparent ;
    color: #fff;
}
.action_call button:hover{
    cursor: pointer;
    background-color:rgb(238, 101, 77) ;
    transition: all 0.3s ease-in-out;
}
                      
